.projects{
    display: flex;
    align-items: center;
    gap: 80px;
    justify-content: center;
    margin: 80px 170px;
    flex-direction: column;

}
.projectstitle{
    position: relative;
}
.projectstitle h1{
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}

.projects-format{
    display: flex;
    padding: 60px;
    gap: 20px;
    flex-direction: column;
    border-radius: 10px;
    border: 2px solid white;
    transition: 0.4s;
    cursor: pointer;
}

.projects-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    margin-bottom: 80px;

}

.project-sno{
font-size: 28px;
font-weight: 600;
}

.projects-format h2 {
  font-size: 38px;
  font-weight: 800;
  background: linear-gradient(270deg, #DF8908 50%, #B415FF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}

.projects-format p{
    color: #d4d4d4;
    font-size: 24px;
    line-height: 40px;
    max-width: 300px;
}

.projects-format:hover{
    border: 2px solid #ff00ff;
    background-image: linear-gradient(45deg, #3f0028, #582300);
    transform: scale(1.05);
    transform: 0.4s;
}
