.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 170px;
}
.navbar h1{
    font-style:italic;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
}

.nav-connect{
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient(267deg , #DA7C25 0.36%, #B923E1 102.66%);
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
}

.nav-connect:hover{
    transform: scale(1.05);
}

.nav-menu li{
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;

}

.nav-menu .active {
  color: #38bdf8;
}

.nav-menu a {
  text-decoration: none;
  color: inherit;
}

.nav-connect {
  text-decoration: none;
  color: inherit;
}