body{
    font-family: 'outfit';
    height: 100vh;
    color: white;
    background: #161513;
}

*{
    margin: 0;
    padding: 0;
}


html, body, #root {
  background-color: #020617;
  color: white;
  min-height: 100vh;
  margin: 0;
}

.page-content {
  min-height: calc(100vh - 180px); /* space for navbar + footer */
  padding-bottom: 80px;
}
