.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px 0;
  gap: 60px;
}

.contact > h1 {
  font-size: 80px;
  font-weight: 600;
  text-align: center;
}

.contact-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;

  width: calc(100% - 340px);
  margin-left: 170px;
}

.contact-details h1 {
  font-size: 64px;
  font-weight: 700;
  background: linear-gradient(270deg, #DF8908 50%, #B415FF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact-details p:first-of-type {
  font-size: 22px;
  color: #d4d4d4;
  line-height: 34px;
  max-width: 520px;
}

.contact-details p {
  display: flex;
  align-items: center;
  gap: 18px;
  font-size: 24px;
  color: #d4d4d4;
  line-height: 38px;
}

.contact-details span {
  font-size: 26px;
}

.contact-details p:hover {
  background: linear-gradient(270deg, #DF8908 50%, #B415FF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Responsive */
@media (max-width: 900px) {
  .contact-details {
    margin-left: 60px;
    width: calc(100% - 120px);
  }

  .contact > h1 {
    font-size: 60px;
  }

  .contact-details h1 {
    font-size: 48px;
  }

  .contact-details p {
    font-size: 20px;
  }
}

@media (max-width: 600px) {
  .contact-details {
    margin-left: 30px;
    width: calc(100% - 60px);
  }

  .contact > h1 {
    font-size: 48px;
  }

  .contact-details h1 {
    font-size: 40px;
  }

  .contact-details p {
    font-size: 18px;
  }
}
