/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base */
html,
body,
#root {
  background-color: #020617;
  color: white;
  min-height: 100vh;
  font-family: 'Outfit', sans-serif;
}

/* Body */
body {
  line-height: 1.5;
  overflow-x: hidden;
}

/* Page wrapper */
.page-content {
  min-height: calc(100vh - 140px); /* adjusted for scaled navbar + footer */
  padding-bottom: 60px; /* reduced */
}

/* Optional: smoother text rendering */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
